name: Container Image base Stage1

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: container login
      run: |
        docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
    - name: Building the explorer
      run: |
        docker build . --file Dockerfile --compress --tag chaincrucial/cardano-explorer:latest
    - name: container push stage 1
      run: |
        docker push chaincrucial/cardano-explorer:latest
